body {
  padding-top: 50px;
}

html, body, #map {
  height: 100%;
}

.navbar {
  background: #428BCA;
}

.navbar a {
  color: #fff !important;
  font-family: 'Dosis', 'sans-serif';
  font-weight: '600';
  font-size: 1.4em;
}

.navbar-brand {
  font-weight: '800' !important;
  font-size: 1.7em !important;
}

.navbar a:hover {
  color: #f2f2f2 !important;
}

.navbar-default {
  border-color: #428BCA !important;
}

.site-icon{
  margin-bottom: 4px;
  margin-right: 10px;
  height: 25px;
}

#sobre .modal-body p {
  padding-bottom: 15px;
  border-bottom: 1px solid #EEE;
}

#sobre .modal-body p:last-child {
  border-bottom: none;
}

.name, .ref, .popup-title {
  font-weight: bold;
}
