body {
  padding-top: 50px;
}

#map {
  height: 1200px;
}

.navbar {
  background: #428BCA;
}

.navbar a {
  color: #fff !important;
  font-family: 'Dosis', 'sans-serif';
  font-weight: '600';
  font-size: 1.4em;
}

.navbar-toggle:focus, .navbar-toggle:hover {
  background-color: #3260c9 !important;
}

.icon-bar {
  background-color: #fff !important;
}

.btn-primary, .dropdown-menu li {
  font-family: 'Dosis', 'sans-serif';
}

.btn-primary {
  font-size: 1.4em;
}

.site-name {
  font-weight: '800' !important;
  font-size: 1.7em !important;
  padding: 15px 5px 15px 15px;
}

.site-logo {
  float: left;
  padding: 15px;
}

.site-logo img {
  height: 25px;
}

.cities-menu {
  padding: 15px 0;
  line-height: 20px;
}

.cities-menu a {
  font-size: 1.7em !important;
}

.cities-menu a:hover {
  font-size: 1.7em !important;
  text-decoration: none;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.navbar a:hover {
  color: #f2f2f2 !important;
}

.navbar-default, .btn-primary {
  border-color: #428BCA !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #428BCA !important;
  color: #fff;
}

.dropdown-menu {
  background-color: #428BCA !important;
  color: #fff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #428BCA !important;
  color: #fff;
}

.site-icon {
  margin-bottom: 4px;
  margin-right: 10px;
  height: 25px;
}

#sobre .modal-body p {
  padding-bottom: 15px;
  border-bottom: 1px solid #EEE;
}

#sobre .modal-body p:last-child {
  border-bottom: none;
}

.name, .ref, .popup-title {
  font-weight: bold;
}

.glyphicon-earphone, .glyphicon-link {
  padding-right: 5px;
}
